.about {
  &-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond('small') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-picture {
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  &-text {
    @include respond('medium') {
      padding-left: 5px;
    }

    @include respond('small') {
      text-align: center;
      padding-top: 1rem;
      padding-left: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &-proficiency {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-between;
    padding-top: 2rem;
    grid-gap: 3%;

    @include respond('medium') {
      grid-template-columns: repeat(3, auto);
    }

    @include respond('small') {
      grid-template-columns: repeat(1, 250px);
      justify-content: center;
    }

    &-- {
      &box-1, &box-2, &box-3 {
        background: #3e3b3b;
        padding: .5rem;
        border-bottom: #ce6674 5px solid;
        margin-bottom: 1rem;
      }

      @include respond('small') {
        &box-3 {
          margin-bottom: 8rem;
        }
      }
    }
  }
}