.work-projects {
  display: grid;
  grid-gap: .7rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-bottom: 2rem;

  @include respond('huge') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond('large') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond('medium') {
    grid-template-columns: repeat(1, 1fr);
  }
  
  &--item {
    .site {
      img {
        width: 300px;
        height: 190px;
        border: 2px #fff solid;

        @include respond('small') {
          width: 260px;
        }

        &:hover {
          opacity: .5;
          border-color: $secondary-color;
          @include easeOut();
        }
      }
    }
  }

  a {
    &.btn {
      border: 1px #fff solid;
    }
  }
}